:root {
    --white-color: #E3DAC9;
    --purple-color: #634960;
    --dark-purple-color:  #483646;
    --light-purple-color: #856F7C;
    --yellow-color: #C8AB37;
    --dark-yellow-color :#735D23;
    --gray-color: #222;
    --black-color: #111;
    --shadow-color: #000;

    --standard-margin: 1vmin;
}

html {
    height: 100%;
    background: var(--black-color);
}

html, body {
    margin: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    font-style: normal;
    color: var(--white-color);
}

.section-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.section {
    width: 90vw;    
    margin-left: auto;
    margin-right: auto;
    padding: var(--standard-margin);
}

p {
    line-height: 1.75em;
    text-shadow: 0 0 0.25rem var(--shadow-color);
}

h1 {
    color: var(--yellow-color);
    font-weight: normal;
    text-shadow: 0 0 0.25rem var(--shadow-color);
}

h1 a:link {
    color: var(--yellow-color);
    text-decoration: none;
}

h1 a:visited {
    color: var(--yellow-color);
}

h1 a:hover {
    color: var(--yellow-color);
    text-decoration: underline;
}

h1 a:active {
    color: var(--dark-yellow-color);
}

a:link {
    color: var(--light-purple-color);
    text-decoration: underline;
}

a:visited {
    color: var(--purple-color);
    text-decoration: none;
}

a:hover {
    color: var(--light-purple-color);
    text-decoration: none;
}

a:active {
    color: var(--purple-color);
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
  
.icon svg {
    height: 8rem;
    width: 8rem;
    position: relative;
    fill: var(--white-color);;
    -webkit-filter: drop-shadow(0 0 0.25rem var(--shadow-color)); 
    filter: drop-shadow(0 0 0.25rem var(--shadow-color));
}

@media only screen and (min-width : 768px) {
    .section-container {
        width: 60%;
    }

    .section {
        width: 640px;
    }
}